{% extends 'base.html.twig' %}

    {% block title %} Mise en place de Twig {% endblock %}

    {% block content %}
<div class="row">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ product }}</h5>
                        <p class="card-text">you will be able to place it in your for only</p>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>

    {% endblock %}